/*------------------------------Summary--------------------------------*/

/*ALL*/
/*Common ___________________ L.15 */

/*FRONTEND*/
/*Common ___________________ L.21 */
/*Home Page ________________ L.32 */
/*List Posts _______________ L.188 */
/*Post _____________________ L.  */
/*Registration page ________ L.  */
/*Connection page __________ L.  */

/*BACKEND*/
/*Common ___________________ L.  */

/*-------------------------------ALL-----------------------------------*/

body {
    font-family: 'Raleway', sans-serif;
}

.alert {
	position: absolute;
	top : 60px;
	right: 15px;
	max-width: 50%;
}

.hidden {
	display: none;
}



/*----------------------------FRONTEND--------------------------------*/

a.top {
   	position: fixed;
   	bottom: 30px;
   	right: 20px;
}
.hidden {
	display: none;
}

/*----------------------------Home Page--------------------------------*/

/*-----------Header---------*/

.top_home {
	height: 100vh;
}
img.img_aurora {
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
}
.text_header {
	height: 90vh;
	color: white;
}
.text_header > div{
	margin: auto 0;
}
.text_header > div h1 {
	text-transform: uppercase;
	font-family: 'Gaegu', cursive;
}
.btn_read {
	margin-top: 50px;
}
.add_infos {
	margin-top: -50px;
}
.add_infos a {
	color: white;
}
.fa-angle-down {
	margin-top: -20px; 
}


/*----Section 1 - Works---*/


section {
	height: auto;
	min-height: 100vh;
	z-index: 1;
}
#works {
	background-color: rgb(250,250,250);
}
section h2 {
	padding-top: 8vh;
	margin-bottom: 7vh;
}
.description {
	margin: auto 10vw 7vh 10vw;
	font-style: italic;
}
.books img {
	width: 300px;
	height: auto;
	border-radius: 4px;
}
.books h3 {
	margin: 3vh auto;
	font-size: 1.5rem;
}
.books p {
	text-align: justify;
	padding-left: 25px; 
	padding-right: 25px; 
}
hr {
	border-top: 1px solid #8c8b8b;
  	width: 60%;               
  	margin: 5vh auto 8vh auto;
}


/*----Section 2 - Biography---*/


#biography {
	background-color: rgb(240,240,240);
}
#biography h2 {
	margin-bottom: 10vh;
}

.img_author {
	width: 300px;
	height: auto;
	border-radius: 4px;
	filter: grayscale(0.5);
}
.author_description {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.author_description p {
	text-align: justify;
}

/*----Section 3 - Contact---*/

#contact {
	height: auto;
	min-height: 45vh;
	background-color: rgb(45,45,45);
	color: #ddd;
}

#contact .row p {
	margin: 0 3vw 0 3vw;
}
#contact h2 {
	padding-top: 8vh;
	margin-bottom: 7vh;
}
.info_agent {
	margin-bottom: 5vh;
	font-style: italic;
}
.text-center a {
	padding-bottom: 5vh;
}

/*----Section 4 - Footer---*/

#footer {
	height: auto;
	min-height: 30vh;
	background-color: rgb(30,30,30);
	color: #ddd;
}

#footer h2 {
	font-size: 1.5rem;
	padding-top: 7vh;
	margin-bottom: 5vh;
}

.social_networks > a {
	color: #ddd;
	margin: 0 2.5vw 0 2.5vw;
}


@media all and (max-height: 630px) {
	.add_infos {
		margin-top: -70px;
	}
}


/*----------------------------LIST POSTS--------------------------------*/

/*-------Header------*/

img.img_alaska {
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
}
.top_list_posts {
	height: 250px;
}
.title_page {
	font-family: 'Gaegu', cursive;
	text-transform: uppercase;
	margin: 70px auto;
}

#posts {
	background-color: rgb(250,250,250);
}

/*-------List Posts------*/

.post, .links_all_chapter {
	background-color: rgb(242,242,242);
	border-radius: 4px;
	padding: 15px;
	color: #212529;
	transition: background-color 0.2s;
}
.post {
	margin-bottom: 30px;
}
.paragraph {
	text-align: justify;
	font-size: 1.1rem;
	line-height: 28px;
	letter-spacing: 2px;
}
.post:hover, .links_all_chapter:hover {
	background-color: rgb(230,230,230);
}
.post_link:hover {
	text-decoration: none;
}
.date_format {
	text-transform: uppercase;
}

/*----------------------------POST--------------------------------*/

/*-------Header------*/

.top_post {
	height: 250px;
}

#post {
	background-color: rgb(250,250,250);
}

/*------Post-------*/

.publish {
	font-size: 1.1rem;
	font-style: italic;
	margin: 50px 0;
}
.text_content {
	text-indent: 7%;
	text-align: justify;
	font-size: 1.3rem;
	line-height: 40px;
	letter-spacing: 2.5px;
}
.text_content:first-letter {
	font-size: 250%;
}
.report_logo {
	transition: color 0.2s;
	color: #6C757D;
}
.report_logo:hover {
	color: #DC3545;
	cursor: pointer;
}

/*------Comments------*/

.btn-comment {
	margin-bottom: 30px;
}
.div_post_comment {
	background-color: rgb(200,200,200) !important;
	margin: 0 -15px;
	padding-left: 25px !important;
	padding-right: 25px !important;
}

#comments {
	background-color: rgb(245,245,245);
}
.comment {
	margin-bottom: 30px;
	padding: 25px 10px 25px 10px;
	border-radius: 4px;
	background-color: rgb(230,230,230);
}

/*----Report modal----*/

.modal-header-danger {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.btn-danger {
	background-color: #d9534f !important;
}


/*----------------------------REGISTRATION PAGE--------------------------------*/

.registration_page, .connection_page {
	min-height: 100vh;
	background-image: url("../img/alaska_mountains.jpg");
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.row_contents {
	background-color: white;
	border-radius: 4px;
}


/*----------------------------CONNECTION PAGE--------------------------------*/


